{% extends 'common\baseView.html' %}
{% load staticfiles %}

{% block pageCSS %}
    <!-- BEGIN: Page CSS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->

    <!-- END: Custom CSS-->
{% endblock %}

{% block viewName %}
    <h2 class="content-header-title float-start mb-0">Create Payroll</h2>
{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ِAdd New Payroll</h4>
        </div>
        <div class="card-body">
            <form id="basic-input" action="{% url 'finance:finance/create_payroll' %}" method="post">
                {%csrf_token%}
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" for="basicSelect">Choose Employee</label>
                        <div class="position-relative" data-select2-id="45">
                            <select name="user_id" class="select2 form-select" id="select2-basic" data-select2-id="select2-basic" tabindex="-1" aria-hidden="true">
                                {% for user in users %}
                                    <option value="{{user.info.user_id}}" data-select2-id="2">{{user.info}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 mt-2">
                        <button style="width: 110px" type="submit" class="btn btn-outline-success round waves-effect">Choose</button>
                    </div>
                </div>
                <!-- onclick="document.getElementById('basic-input').submit();" -->
            </form>
        </div>

    </div>

    <hr>
    {% if user.is_admin %}
        {% if selected_user %}

    <div class="card-header">
        <h4 class="card-title">Payroll Details for {{selected_user}}</h4>
    </div>
    <div class="row match-height">
        <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Attendance:
                    </h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">Base Salary</div>
                        {% if selected_user.user_salary %}
                            <div class="col-md-6">{{selected_user.user_salary}} SAR</div>
                        {% else %}
                            <div class="col-md-6">User's Salary has not been set</div>
                        {% endif %}
                        
                    </div>
                    <div class="row mt-2">
                        <div class="progress progress-bar-success">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{attendance_ratio}}" aria-valuemin="0"
                                 aria-valuemax="100" id="progress_bar">
                                 {% if attendance_ratio %}
                                    {% widthratio attendance_ratio 1 100 %}%
                                 {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">Worked:</div>
                        <div class="col-md-6">{{total_attendance_hours}} hours</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Absence:</div>
                        <div class="col-md-6">{{total_absence_hours}} hours</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">This Month's Salary:</div>
                        {% if selected_user.user_salary %}
                            <div class="col-md-6">{% widthratio attendance_ratio 1 selected_user.user_salary %} SAR</div>
                        {% else %}
                            <div class="col-md-6">User's Salary has not been set</div>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">ِOvertime:
                    </h4>
                </div>

                <div class="card-body">
                    {% for overtime in user_overtimes %}
                    <div class="row">
                        <div class="col-md-4">{{overtime.overtime_overtime_category_id}}</div>
                        <div class="col-md-4">{{overtime.overtime_date}}</div>
                        <div class="col-md-4">{{overtime.overtime_hours}} hours</div>
                    </div>
                    {% endfor %}
                    <hr>
                    <div class="row">
                        <div class="col-md-6">Total hours:</div>
                        <div class="col-md-6">{{total_overtime_hours}} hours</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Total money:</div>
                        <div class="col-md-6">{% widthratio total_overtime_hours 1 30 %} SAR</div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Rewards & Punishments:
                    </h4>
                </div>
                <div class="card-body">

                    {% for reward in user_rewards %}
                        <div class="row">
                            <div class="col-md-6">Reward</div>
                            <div class="col-md-6"> <span class="badge bg-success"> +{{reward.reward_amount}} SAR</span></div>
                        </div>
                    {% endfor %}
                    {% for punishment in user_punishments %}
                        <div class="row">
                            <div class="col-md-6">Punishment</div>
                            <div class="col-md-6"><span class="badge bg-danger"> -{{punishment.punishment_amount}} SAR</span></div>
                        </div>
                    {% endfor %}

                </div>

            </div>
        </div>

    <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Net Salary:
                    </h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">Regular Work</div>
                        {% if selected_user.user_salary %}
                        <div class="col-md-6"> <span class="badge bg-success"> +{{selected_user.user_salary}} SAR</span></div>
                        {% else %}
                        <div class="col-md-6">User's Salary has not been set</div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-6">Overtime:</div>
                        <div class="col-md-6"> <span class="badge bg-success"> +{% widthratio total_overtime_hours 1 30 %} SAR</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Rewards & Punishments</div>
                        {% if total_rewards_and_punishments %}
                            {% if total_rewards_and_punishments > 0 %}
                                <div class="col-md-6"> <span class="badge bg-success"> +{{total_rewards_and_punishments}} SAR</span></div>
                            {% else %}
                                <div class="col-md-6"><span class="badge bg-danger"> {{total_rewards_and_punishments}} SAR</span></div>
                            {% endif %}
                        {% else %}
                            <div class="col-md-6"> <span class="badge bg-success"> +0 SAR</span></div>
                        {% endif %}


                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">Total:</div>
                        <div class="col-md-6">{{total_month_salary}} SAR</div>
                    </div>

                </div>

            </div>
        </div> 
    </div>
    <button class="btn btn-success btn-next waves-effect waves-float waves-light float-lg-end mb-2">
        <span class="align-middle d-sm-inline-block d-none">Sign Off</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="feather feather-chevron-right align-middle ms-sm-25 ms-0">
            <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
    </button>
    {% else %}
    <br><br>
        <center><h2>Please Select a user to view his payroll information</h2></center>
        {% endif %}
    {% else %}
    <!-- <div class="card-header">
        <h4 class="card-title">Payroll Record for Akram Afif</h4>
    </div>
    <div class="row match-height">
        <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Attendance:
                    </h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">deserve</div>
                        <div class="col-md-6">4000 SAR</div>
                    </div>
                    <div class="row mt-2">
                        <div class="progress progress-bar-success">
                            <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="45"
                                 aria-valuemax="100" style="width: 45%">
                                45%
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">Worked:</div>
                        <div class="col-md-6">120h</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Absence:</div>
                        <div class="col-md-6">24h</div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">ِOvertime:
                    </h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">Testing</div>
                        <div class="col-md-4">11-5-2021</div>
                        <div class="col-md-4">8 h</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Testing</div>
                        <div class="col-md-4">11-5-2021</div>
                        <div class="col-md-4">8 h</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Testing</div>
                        <div class="col-md-4">11-5-2021</div>
                        <div class="col-md-4">8 h</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">Total hours:</div>
                        <div class="col-md-6">24 h</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Total money:</div>
                        <div class="col-md-6">1500 SAR</div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Rewards & Punishments:
                    </h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">Reward</div>
                        <div class="col-md-6"> <span class="badge bg-success"> +500 SAR</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Punishment</div>
                        <div class="col-md-6"><span class="badge bg-danger">-300 SAR</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Reward</div>
                        <div class="col-md-6"><span class="badge bg-success">+1500 SAR</span></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">Total:</div>
                        <div class="col-md-6">1700 SAR</div>
                    </div>

                </div>

            </div>
        </div>

    <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Net Salary:
                    </h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">Regular Work</div>
                        <div class="col-md-6"> <span class="badge bg-success"> +4000 SAR</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Overtime:</div>
                        <div class="col-md-6"> <span class="badge bg-success"> +1500 SAR</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Regular Work</div>
                        <div class="col-md-6"> <span class="badge bg-success"> +1700 SAR</span></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">Total:</div>
                        <div class="col-md-6">6200 SAR</div>
                    </div>

                </div>

            </div>
        </div> -->
    {% endif %}



    <!-- END: Page JS-->
{% endblock %}

{% block pageCJs %}
    <script>

    $(function (){
        $(".form-select").select2();
    })

    window.onload = function() {
    getWidth();
    };

    function getWidth(){
        
        width = $("#progress_bar").text().trim();
        $("#progress_bar").css("width", width);
    }
    </script>


{% endblock %}