{% extends 'common\baseView.html' %}
{% load staticfiles %}

{% block pageCSS %}
    <!-- BEGIN: Page CSS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- END: Page CSS-->
    {% if user.is_admin %}
        <title>Manage Payrolls</title>
    {% else %}
        <title>My Payroll</title>
    {% endif %}



    <!-- BEGIN: Custom CSS-->

    <!-- END: Custom CSS-->
{% endblock %}

{% block viewName %}
{% if success_notification %}
    <input type="hidden" id="success_notification" value="{{success_notification}}" >
{% endif %}
    {% if user.is_admin %}
        <h2 class="content-header-title float-start mb-0">Manage Payrolls</h2>
    {% else %}
        <h2 class="content-header-title float-start mb-0">My Month's Payroll</h2>
    {% endif %}
{% endblock %}


{% block content %}
{% if user.is_admin %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ِAdd New Payroll</h4>
        </div>
        <div class="card-body">
            <form id="basic-input" action="{% url 'finance:finance/create_payroll' %}" method="post">
                {%csrf_token%}
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" for="basicSelect">Choose Employee</label>
                        <div class="position-relative" data-select2-id="45">
                            <select name="user_id" class="select2 form-select" id="select2-basic" data-select2-id="select2-basic" tabindex="-1" aria-hidden="true">
                                {% for user in users %}
                                    {% if user.info == selected_user %}
                                        <option selected value="{{user.info.user_id}}" data-select2-id="2">{{user.info}}</option>
                                    {% else %}
                                        <option value="{{user.info.user_id}}" data-select2-id="2">{{user.info}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 mt-2">
                        <button style="width: 110px" type="submit" class="btn btn-outline-success round waves-effect">Choose</button>
                    </div>
                </div>
                <!-- onclick="document.getElementById('basic-input').submit();" -->
            </form>
        </div>

    </div>

    <hr>
    {% endif%}

    {% if error %}
        <h1 style="color: red;">{{error}}</h1>
    {% endif %}

    {% if selected_user %}
        <div class="card-header">
        <h4 class="card-title">Payroll Details for {{selected_user}}</h4>
        {% if already_signed_off %}
            <h5 style="color: green;" class="card-title">Payroll Status: Signed Off</h5>
        {% else %}
            <h5 class="card-title">Payroll Status: Not Signed Off</h5>
        {% endif %}
        

    </div>
    <div class="row match-height">
        <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Attendance:
                    </h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">Base Salary</div>
                        {% if selected_user.user_salary %}
                            <div class="col-md-6">{{selected_user.user_salary}} SAR</div>
                        {% else %}
                            <div class="col-md-6">User's Salary has not been set</div>
                        {% endif %}
                        
                    </div>
                    <div class="row mt-2">
                        <div class="progress progress-bar-success">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{attendance_ratio}}" aria-valuemin="0"
                                 aria-valuemax="100" id="progress_bar">
                                 {% if attendance_ratio %}
                                    {% widthratio attendance_ratio 1 100 %}%
                                 {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">Worked:</div>
                        <div class="col-md-6">{{total_attendance_hours}} hours</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Absence:</div>
                        <div class="col-md-6">{{total_absence_hours}} hours</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">This Month's Salary:</div>
                        {% if selected_user.user_salary %}
                            <div class="col-md-6">{% widthratio attendance_ratio 1 selected_user.user_salary %} SAR</div>
                        {% else %}
                            <div class="col-md-6">User's Salary has not been set</div>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">ِOvertime:
                    </h4>
                </div>

                <div class="card-body">
                    {% for overtime in user_overtimes %}
                    <div class="row">
                        <div class="col-md-4">{{overtime.overtime_overtime_category_id}}</div>
                        <div class="col-md-4">{{overtime.overtime_date}}</div>
                        <div class="col-md-4">{{overtime.overtime_hours}} hours</div>
                    </div>
                    {% endfor %}
                    <hr>
                    <div class="row">
                        <div class="col-md-6">Total hours:</div>
                        <div class="col-md-6">{{total_overtime_hours}} hours</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Total money:</div>
                        <div class="col-md-6">{% widthratio total_overtime_hours 1 30 %} SAR</div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Rewards & Punishments:
                    </h4>
                </div>
                <div class="card-body">
                    {%  if user_rewards %}
                        {% for reward in user_rewards %}
                            <div class="row">
                                <div class="col-md-6">Reward</div>
                                <div class="col-md-6"> <span class="badge bg-success"> +{{reward.reward_amount}} SAR</span></div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-md-6">No Rewards</div>
                    {% endif %}

                    {%  if user_punishments %}
                        {% for punishment in user_punishments %}
                            <div class="row">
                                <div class="col-md-6">Punishment</div>
                                <div class="col-md-6"><span class="badge bg-danger"> -{{punishment.punishment_amount}} SAR</span></div>
                            </div>
                        {% endfor %}
                        {% else %}
                            <div class="col-md-6">No Punishments</div>
                    {% endif %}

                </div>

            </div>
        </div>

    <div class="col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Net Salary:
                    </h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">Regular Work</div>
                        {% if selected_user.user_salary %}
                        <div class="col-md-6"> <span class="badge bg-success"> +{% widthratio attendance_ratio 1 selected_user.user_salary %} SAR</span></div>
                        {% else %}
                        <div class="col-md-6">User's Salary has not been set</div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-6">Overtime:</div>
                        <div class="col-md-6"> <span class="badge bg-success"> +{% widthratio total_overtime_hours 1 30 %} SAR</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">Rewards & Punishments</div>
                        {% if total_rewards_and_punishments %}
                            {% if total_rewards_and_punishments > 0 %}
                                <div class="col-md-6"> <span class="badge bg-success"> +{{total_rewards_and_punishments}} SAR</span></div>
                            {% else %}
                                <div class="col-md-6"><span class="badge bg-danger"> {{total_rewards_and_punishments}} SAR</span></div>
                            {% endif %}
                        {% else %}
                            <div class="col-md-6"> <span class="badge bg-success"> +0 SAR</span></div>
                        {% endif %}


                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">Total:</div>
                        <div class="col-md-6">{{total_month_salary}} SAR</div>
                    </div>

                </div>

            </div>
        </div> 
    </div>
    {% if user.is_admin %}
        {% if already_signed_off %}
            <h4 style="color: green; float: right;">{{already_signed_off}}</h4>
        {% else %}
        <form action="" method="post">
        {%csrf_token%}
        <input type="hidden" name="payroll_confirmation" value="{{payroll_confirmation}}">
        <input type="hidden" name="sign_off" value="sign_off">
        <button class="btn btn-success btn-next waves-effect waves-float waves-light float-lg-end mb-2">
            <span class="align-middle d-sm-inline-block d-none">Sign Off</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-chevron-right align-middle ms-sm-25 ms-0">
                <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
        </button>
        </form>
        {% endif %}
    {% endif %}
{% endif %}


    <!-- END: Page JS-->
{% endblock %}

{% block pageCJs %}
    <script>

    $(function (){
        $(".form-select").select2();
    })

    window.onload = function() {
    getWidth();
    };

    function getWidth(){
        
        width = $("#progress_bar").text().trim();
        $("#progress_bar").css("width", width);
    }
    window.onload = function()
        {
            if ($('#success_notification').length) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: $('#success_notification').val(),
                    showConfirmButton: false,
                    timer: 1750
                })
            }
        }
    </script>


{% endblock %}