{% extends 'common\baseView.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block pageCSS %}
    <!-- BEGIN: Page CSS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->

    <!-- END: Custom CSS-->
{% endblock %}

{% block viewName %}
    <h2 class="content-header-title float-start mb-0"></h2>
{% endblock %}


{% block content %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Manage Loans</h3>
            <div class="col-md-5 mt-2">
                <button style="width: 190px; float: right" type="button" class="btn btn-outline-success waves-effect" data-bs-toggle="modal" data-bs-target="#inlineForm">
                New Loan
              </button>
            </div>
        </div>
        {% if form_errors %}
            {% for field in form_errors %}
                {{field.errors}}
            {% endfor %}
        {% endif %}
    </div>
    <hr>
    <div class="row match-height">
        <div class="col-lg-4 col-md-6 col-12">

            {% if loans %}
                {% if user.is_admin %}
                    {% for loan in loans %}
                        <div class="card card-employee-task justify-content-between align-items-center">

                            <div class="card-header row justify-content-between align-items-center">

                                <div class="d-flex flex-row">
                                    
                                    <div class="col-6">
                                        <b>{{loan.info.loan_user_id}}</b>   
                                    </div>
                                    <div class="col-6 mx-5">
                                        <b>{{loan.info.loan_user_id.user_job_title_id}}</b>
                                    </div>
                                </div>
                            <div class="card-body">
                                <div class="row justify-content-between align-items-center">

                                    <div class="d-flex flex-row">
                                        <div class="col-6">
                                            <i class="fa-solid fa-money-bill-1-wave"></i> Amount
                                        </div>
                                        <div class="col-6 mx-5">
                                            {{loan.info.loan_amount}} SAR
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <div class="col-6">
                                            <i class="fa-solid fa-clock"></i> Periods
                                        </div>
                                        <div class="col-6 mx-5">
                                            {{loan.info.loan_period}} Months
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <div class="col-6">
                                            <i class="fa-solid fa-calendar-days"></i> Start Date
                                        </div>
                                        <div class="col-6 mx-5">
                                            {{loan.info.loan_started_date}}
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row mb-1">
                                        <div class="col-6">
                                            <i class="fa-solid fa-spinner"></i> Progress
                                        </div>
                                        <div class="col-6 mx-5">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="45" aria-valuemax="100" style="width: 45%">
                                                {% calculate_loan_percentage loan.info.loan_number_of_complete_payment loan.info.loan_period %}%
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="d-flex flex-row">
                                        <div class="col-6">
                                            Status
                                        </div>
                                        <div class="col-6 mx-5">
                                            {% if loan.info.loan_is_approved %}
                                                <b id="loanstatus_{{loan.info.loan_id}}" class="alert-success">Approved</b>
                                                <div class="form-check form-check-secondary form-switch">
                                                    <input type="checkbox" class="form-check-input" id="{{loan.info.loan_id}}" checked
                                                      onclick="change_status(this.id)">
                                                </div>
                                            {% else %}
                                                <b id="loanstatus_{{loan.info.loan_id}}" class="alert-failure">Not Approved</b>
                                                <div class="form-check form-check-secondary form-switch">
                                                    <input type="checkbox" class="form-check-input" id="{{loan.info.loan_id}}"
                                                    onclick="change_status(this.id)" >
                                                </div>
                                            {% endif %}
     
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>      

                    </div>
                    {% endfor %}
                {% else %}
                    {% for loan in loans %}
                        {% if loan.info.loan_user_id == user %}
                            <div class="card card-employee-task justify-content-between align-items-center">

                                <div class="card-header row justify-content-between align-items-center">

                                    <div class="d-flex flex-row">
                                        
                                        <div class="col-6">
                                            <b>{{loan.info.loan_user_id}}</b>   
                                        </div>
                                        <div class="col-6 mx-5">
                                            <b>{{loan.info.loan_user_id.user_job_title_id}}</b>
                                        </div>
                                    </div>
                                <div class="card-body">
                                    <div class="row justify-content-between align-items-center">

                                        <div class="d-flex flex-row">
                                            <div class="col-6">
                                                <i class="fa-solid fa-money-bill-1-wave"></i> Amount
                                            </div>
                                            <div class="col-6 mx-5">
                                                {{loan.info.loan_amount}} SAR
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row">
                                            <div class="col-6">
                                                <i class="fa-solid fa-clock"></i> Periods
                                            </div>
                                            <div class="col-6 mx-5">
                                                {{loan.info.loan_period}} Months
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row">
                                            <div class="col-6">
                                                <i class="fa-solid fa-calendar-days"></i> Start Date
                                            </div>
                                            <div class="col-6 mx-5">
                                                {{loan.info.loan_started_date}}
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row mb-1">
                                            <div class="col-6">
                                                <i class="fa-solid fa-spinner"></i> Progress
                                            </div>
                                            <div class="col-6 mx-5">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="45" aria-valuemax="100" style="width: 45%">
                                                    {% calculate_loan_percentage loan.info.loan_number_of_complete_payment loan.info.loan_period %}%
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="d-flex flex-row">
                                            <div class="col-6">
                                                Status
                                            </div>
                                            <div class="col-6 mx-5">
                                                {% if loan.info.loan_is_approved %}
                                                    <b id="loanstatus_{{loan.info.loan_id}}" class="alert-success">Approved</b>
                                                {% else %}
                                                    <b id="loanstatus_{{loan.info.loan_id}}" class="alert-failure">Not Approved</b>
                                                {% endif %}

                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>      

                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}

    </div>

    <div class="modal fade text-start" id="inlineForm" tabindex="-1" aria-labelledby="myModalLabel33" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel33">Apply for New Loan</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {% if user.is_admin %}
                    <form action="" method="POST">
                        {%csrf_token%}
                        <div class="modal-body">
                            <label>Amount: </label>
                            <div class="mb-1">
                                <input type="text" name="loan_amount" placeholder="10000" class="form-control" />
                            </div>

                            <label>Periods: </label>
                            <div class="mb-1">
                                <input type="text" name="loan_period" placeholder="12 " class="form-control" />
                                <spam>12 Means the loan will be divided on 12 months</spam>
                            </div>

                            <label class="form-label" for="select2-basic">User National ID</label>
                                <div class="position-relative" data-select2-id="45">
                                    <select name="loan_user_id" class="select2 form-select" id="select2-basic" data-select2-id="select2-basic" tabindex="-1" aria-hidden="true">
                                        {% for user in users %}
                                            <option value="{{user.info.user_id}}" data-select2-id="2">{{user.info.user_nationality_ID}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button  class="btn btn-success" data-bs-dismiss="modal">Submit</button>
                        </div>
                    </form>
                {% else %}
                    <form action="" method="POST">
                        {%csrf_token%}
                        <div class="modal-body">
                            <label>Amount: </label>
                            <div class="mb-1">
                                <input type="text" name="loan_amount" placeholder="10000" class="form-control" />
                            </div>

                            <label>Periods: </label>
                            <div class="mb-1">
                                <input type="text" name="loan_period" placeholder="12 " class="form-control" />
                                <spam>12 Means the loan will be divided on 12 months</spam>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" data-bs-dismiss="modal">Submit</button>
                        </div>
                    </form>
                {% endif %}

            </div>
        </div>
    </div>
    </div>
    <!-- END: Page JS-->
{% endblock %}

{% block pageCJs %}
    <script>

    $(function (){
        $(".form-select").select2();
    })

    function change_status(checkbox_id)
        {
            var url = 'change_loan_status/';
                $.ajax({
                    url: url,
                    type: 'POST',
                    data : jQuery.param({'loan_id': checkbox_id,
                     "csrfmiddlewaretoken": $('[name=csrfmiddlewaretoken]').val()}),
                    success : function() {
                        if (document.getElementById(checkbox_id).checked){
                            
                            status_id = "loanstatus_" + checkbox_id
                            this_status = document.getElementById(status_id)
                            this_status.className = "alert-success"
                            this_status.innerHTML = "Approved"
                        }
                        else {

                            status_id = "loanstatus_" + checkbox_id
                            this_status = document.getElementById(status_id)
                            this_status.className = "alert-failure"
                            this_status.innerHTML = "Not Approved"
                        }
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        alert('Error: '+jqXHR.status);
                    } 
                });
            
        }


    </script>


{% endblock %}