{% extends 'common\baseView.html' %}
{% load staticfiles %}

{% block pageCSS %}
    <!-- BEGIN: Page CSS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- END: Page CSS-->
    <title>Overtime Categories</title>

    <!-- BEGIN: Custom CSS-->

    <!-- END: Custom CSS-->
{% endblock %}

{% block viewName %}
    <h2 class="content-header-title float-start mb-0">Manage Overtime Categories</h2>
{% endblock %}


{% block content %}
{% if not user.is_admin %}
    <input type="hidden" id="error" value="Sorry, You are not authorized to view this page.">
{% else %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ِAdd New Overtime Category</h4>
        </div>
            {% if form_errors %}
                {% for field in form_errors %}
                    {{field.errors}}
                {% endfor %}
            {% endif %}
            <div class="card-body">
                <form id="basic-input" action="" method="post">
                    {%csrf_token%}
                    <div class="row">
                        <div class="col-md-5">
                            <label class="form-label" for="basicInput">Category Name</label>
                            <input type="text" class="form-control" id="cat_name" name = "overtime_category_name" placeholder="Code Review">

                        </div>

                        <div class="col-md-2 mt-2">
                            <button style="width: 110px" type="submit" class="btn btn-outline-success round waves-effect">Add</button>
                        </div>
                    </div>
                    <!-- onclick="document.getElementById('basic-input').submit();" -->
                </form>
            </div>
        </div>

    <hr>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"></h4>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Delete</th>

                </tr>
                </thead>
                <tbody>

            {% for overtime_category in overtime_categories %}
                <tr>

                        <td>
                            <span class="fw-bold">{{overtime_category.number}}</span>
                        </td>
                        <td>{{overtime_category.info.overtime_category_name}}</td>
                        <td><i data-bs-toggle="modal" data-bs-target="#warning" class="fa-solid fa-trash-can"></i></td>

                    

                </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <!-- END: Page JS-->
    {% endif %}
    <div class="d-inline-block">
        <!-- Button trigger modal
        <button type="button" class="btn btn-outline-warning waves-effect" data-bs-toggle="modal" data-bs-target="#warning">
          Warning
        </button>
         Modal -->
        <div class="modal fade text-start modal-warning" id="warning" tabindex="-1" aria-labelledby="myModalLabel140"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel140">Warning</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Sure about Deleting?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning waves-effect waves-float waves-light"
                                data-bs-dismiss="modal">Sure
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block pageCJs %}
    <script>

    $(function (){
        $(".form-select").select2();
    })
    window.onload = function() {
            if ($('#error').length) {
            Swal.fire({
                title: 'Not Authorized',
                text: $('#error').val(),
                icon: 'error',
                confirmButtonText: 'Close'
                }).then((result) => {
                    window.location.replace("/");
                })
            }
        }

    </script>


{% endblock %}