{% extends 'common\baseView.html' %}
{% load staticfiles %}

{% block pageCSS %}
    <!-- BEGIN: Page CSS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->

    <!-- END: Custom CSS-->
{% endblock %}

{% block viewName %}
    <h2 class="content-header-title float-start mb-0">Manage Overtime Categories</h2>
{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ِAdd New Overtime Category</h4>
        </div>
        {% if user.is_admin %}
            {% if form_errors %}
                {% for field in form_errors %}
                    {{field.errors}}
                {% endfor %}
            {% endif %}
            <div class="card-body">
                <form id="basic-input" action="" method="post">
                    {%csrf_token%}
                    <div class="row">
                        <div class="col-md-5">
                            <label class="form-label" for="basicInput">Category Name</label>
                            <input type="text" class="form-control" id="cat_name" name = "overtime_category_name" placeholder="Code Review">

                        </div>

                        <div class="col-md-2 mt-2">
                            <button style="width: 110px" type="submit" class="btn btn-outline-success round waves-effect">Add</button>
                        </div>
                    </div>
                    <!-- onclick="document.getElementById('basic-input').submit();" -->
                </form>
            </div>
        {% else %}
            <center><h2 style="color: #FEAA5A; font-weight: bold;" class="card-title">Sorry, you are not authorized to create new overtime categories.</h2></center>
        {% endif %}
        </div>

    <hr>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"></h4>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Delete</th>

                </tr>
                </thead>
                <tbody>

            {% for overtime_category in overtime_categories %}
                <tr>

                        <td>
                            <span class="fw-bold">{{overtime_category.number}}</span>
                        </td>
                        <td>{{overtime_category.info.overtime_category_name}}</td>
                        <td><i class="fa-solid fa-trash-can"></i></td>

                    

                </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <!-- END: Page JS-->
{% endblock %}

{% block pageCJs %}
    <script>

    $(function (){
        $(".form-select").select2();
    })


    </script>


{% endblock %}