{% extends 'common\baseView.html' %}
{% load staticfiles %}

{% block pageCSS %}
    <!-- BEGIN: Page CSS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- END: Page CSS-->
    <title>Vacations</title>

    <!-- BEGIN: Custom CSS-->

    <!-- END: Custom CSS-->
{% endblock %}

{% block viewName %}
    <h2 class="content-header-title float-start mb-0">Manage Vacations</h2>
{% endblock %}


{% block content %}
{% if success_notification %}
    <input type="hidden" id="success_notification" value="{{success_notification}}" >
{% endif %}
    <div class="card">
        <div class="card-header">
            {% if user.is_admin %}
                <h4 class="card-title">Create a New Vacations</h4>
            {% else %}
                <h4 class="card-title">Apply for New Vacations</h4>
            {% endif %}

            {% if user.is_admin %}
            <button style="width: 250px" type="submit" class="btn btn-outline-success round waves-effect" data-bs-toggle="modal" data-bs-target="#UploadModal">Create a New Vacation</button>
            {% else %}
            <button style="width: 250px" type="submit" class="btn btn-outline-success round waves-effect" data-bs-toggle="modal" data-bs-target="#UploadModal">Apply for New Vacation</button>
            {% endif %}

        </div>
        {% if form_errors %}
            {% for field in form_errors %}
                {{field.errors}}
            {% endfor %}
        {% endif %}
    </div>

        <div class="modal fade text-start" id="UploadModal" tabindex="-1" aria-labelledby="myModalLabel33" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel33">New Vacation</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    {% if user.is_admin %}
                        <form action="" method="post">
                            {%csrf_token%}
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label">Employee</label>
                                            <select name="vacation_user_id" class="select2 form-select" id="select2-basic" data-select2-id="select2-basic" tabindex="-1" aria-hidden="true">
                                                {% for user in users %}
                                                    <option value="{{user.info.user_id}}" data-select2-id="2">{{user.info.user_nationality_ID}}</option>
                                                {% endfor %}
                                            </select>                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="att_date">Leaving Date</label>
                                        <input type="text" name="vacation_leaving_date" class="form-control flatpickr-basic flatpickr-input" placeholder="YYYY-MM-DD" readonly="readonly">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="att_date">Returning Date</label>
                                        <input type="text" name="vacation_coming_date" class="form-control flatpickr-basic flatpickr-input" placeholder="YYYY-MM-DD" readonly="readonly">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-check-label mb-50" for="customSwitch15">Paid Vacation?</label>
                                        <div class="form-check form-switch form-check-dark">
                                            <input type="checkbox" name="vacation_is_paid" class="form-check-input"
                                                id="customSwitch15" checked="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                            </div>
                        </form>
                    {% else %}
                        <form action="" method="post">
                            {%csrf_token%}
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label" for="att_date">Leaving Date</label>
                                        <input type="text" name="vacation_leaving_date" class="form-control flatpickr-basic flatpickr-input" placeholder="YYYY-MM-DD" readonly="readonly">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label" for="att_date">Returning Date</label>
                                        <input type="text" name="vacation_coming_date" class="form-control flatpickr-basic flatpickr-input" placeholder="YYYY-MM-DD" readonly="readonly">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-check-label mb-50" for="customSwitch15">Paid Vacation?</label>
                                        <div class="form-check form-switch form-check-dark">
                                            <input type="checkbox" name="vacation_is_paid" class="form-check-input"
                                                id="customSwitch15" checked="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>


    <hr>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"></h4>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Leaving Data</th>
                    <th>Returning Date</th>
                    <th>Type</th>
                    <th>Satus</th>

                </tr>
                </thead>
                <tbody>
                {% for vacation in vacations %}
                    {% if user.is_admin or vacation.info.vacation_user_id == user %}
                        <tr>
                            <td>
                                <span class="fw-bold">{{vacation.number}}</span>
                            </td>
                            <td>{{vacation.info.vacation_user_id}}</td>
                            <td >{{vacation.info.vacation_leaving_date}}</td>
                            <td >{{vacation.info.vacation_coming_date}}</td>
                            {% if vacation.info.vacation_is_paid %}
                                <td>Paid</td>
                            {% else %}
                                <td>Unpaid</td>
                            {% endif %}
                            <td>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if vacation.info.vacation_is_approved %}
                                            <label id="vacationstatus_{{vacation.info.vacation_id}}" class="alert-success">Approved</label>
                                        {% else %}
                                            <label id="vacationstatus_{{vacation.info.vacation_id}}" class="form-check-label mb-50">Not Approved</label>
                                        {% endif %}
                                    </div>
                            {% if user.is_admin %}
                                        <div class="col-md-6">
                                            <div class="form-check form-switch form-check-dark">
                                                {% if vacation.info.vacation_is_approved %}
                                                    <input id="{{vacation.info.vacation_id}}" type="checkbox" class="form-check-input"
                                                     checked onclick="change_status(this.id)">
                                                {% else %}
                                                    <input id="{{vacation.info.vacation_id}}" type="checkbox" class="form-check-input"
                                                    onclick="change_status(this.id)"> 
                                                {% endif %}
                                            </div>
                                        </div>
                            {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <!-- END: Page JS-->
{% endblock %}

{% block pageCJs %}
    <script>

    $(function (){
        $(".form-select").select2();
    })

    function change_status(checkbox_id)
        {
            var url = 'change_vacation_status/';
                $.ajax({
                    url: url,
                    type: 'POST',
                    data : jQuery.param({'vacation_id': checkbox_id,
                     "csrfmiddlewaretoken": $('[name=csrfmiddlewaretoken]').val()}),
                    success : function() {
                        if (document.getElementById(checkbox_id).checked){
                            
                            status_id = "vacationstatus_" + checkbox_id
                            this_status = document.getElementById(status_id)
                            this_status.className = "alert-success"
                            this_status.innerHTML = "Approved"
                        }
                        else {

                            status_id = "vacationstatus_" + checkbox_id
                            this_status = document.getElementById(status_id)
                            this_status.className = "alert-failure"
                            this_status.innerHTML = "Not Approved"
                        }
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        alert('Error: '+jqXHR.status);
                    } 
                });
            
        }

        window.onload = function()
        {
            if ($('#success_notification').length) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: $('#success_notification').val(),
                    showConfirmButton: false,
                    timer: 1750
                })
            }
        }

    </script>


{% endblock %}