{% extends 'common\baseView.html' %}
{% load staticfiles %}

{% block pageCSS %}
    <!-- BEGIN: Page CSS-->
    <title>Contracts List</title>

    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->

    <!-- END: Custom CSS-->
{% endblock %}

{% block viewName %}
    <h2 class="content-header-title float-start mb-0">Contracts List</h2>
{% endblock %}


{% block content %}
{% if not_admin %}
    <input type="hidden" id="error" value="{{not_admin}}">
{% else %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"></h4>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Employee</th>
                    <th>Department</th>
                    <th>Job Title</th>
                    <th>Expiry Date</th>
                </tr>
                </thead>
                <tbody>
                {% for contract in contracts %}
                    <tr>
                        <td>
                            <span class="fw-bold">{{contract.info.contract_user_id}}</span>
                        </td>
                        <td>{{contract.info.contract_user_id.user_job_title_id.job_title_department_id}}</td>
                        <td>{{contract.info.contract_user_id.user_job_title_id}}</td>

                        <td><span class="badge rounded-pill badge-light-danger me-1">{{contract.info.contract_expiry_date}}</span></td>

                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
{% endif %}
    <!-- END: Page JS-->
{% endblock %}

{% block pageCJs %}

<script>
        window.onload = function() {
            if ($('#error').length) {
            Swal.fire({
                title: 'Not Authorized',
                text: $('#error').val(),
                icon: 'error',
                confirmButtonText: 'Close'
                }).then((result) => {
                    window.location.replace("/");
                })
            }
        }
</script>

{% endblock %}