{% extends 'common\baseView.html' %}
{% load staticfiles %}

{% block pageCSS %}
    <!-- BEGIN: Page CSS-->
    <title>Create Contract</title>

    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->

    <!-- END: Custom CSS-->
{% endblock %}

{% block viewName %}
    <h2 class="content-header-title float-start mb-0">Create Contract</h2>
{% endblock %}


{% block content %}
{% if success_notification %}
    <input type="hidden" id="success_notification" value="{{success_notification}}" >
{% endif %}
{% if not_admin %}
    <input type="hidden" id="error" value="{{not_admin}}">
{% else %}
    <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
            <div class="card-title">
                <h4>Career Info</h4>
                {% if form_errors %}
                    {% for field in form_errors %}
                        {{field}}
                    {% endfor %}
                {% endif %}
                <hr>
            </div>
            <form action="{% url 'job_management:job_management/create_contract' %}" method="post">
                {%csrf_token%}
                <div class="row">
                    <div class="col-md-3">
                        <label class="form-label" for="select2-basic">Select User</label>
                        <div class="position-relative" data-select2-id="45">
                            <select name="contract_user_id" class="select2 form-select" id="selectUser" data-select2-id="select2-basic" tabindex="-1" aria-hidden="true">
                                {% for user in users %}
                                    {% if user.info == returned_data.contract_user_id %}
                                        <option selected value="{{user.info.user_id}}" data-select2-id="2">{{user.info}}</option>
                                    {% else %}                                
                                        <option value="{{user.info.user_id}}" data-select2-id="2">{{user.info}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="select2-basic">Education Degree</label>
                        <div class="position-relative" data-select2-id="45">
                            <select name="user_education_degree" class="select2 form-select" id="select2-basic" data-select2-id="select2-basic" tabindex="-1" aria-hidden="true">
                                <option value="Associate's degree" data-select2-id="2">Associate's degree</option>
                                <option value="Bachelor's degree" data-select2-id="57">Bachelor's degree</option>
                                <option value="Master's degree" data-select2-id="58">Master's degree</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="select2-basic">Job Title</label>
                        <div class="position-relative" data-select2-id="45">
                            <select name="user_job_title_id" class="select2 form-select" id="select2-basic" data-select2-id="select2-basic" tabindex="-1" aria-hidden="true">
                                {% for job_title in job_titles %}
                                    {% if job_title.info == returned_data.user_job_title_id %}
                                        <option selected value="{{job_title.info.job_title_id}}" data-select2-id="2">{{user.info.user_nationality_ID}}</option>
                                    {% else %}                                   
                                        <option value="{{job_title.info.job_title_id}}" data-select2-id="2">{{job_title.info.job_title_name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                         <label class="form-label" for="email">Experienced Years</label>
                        <input type="text" value="{{returned_data.user_experience_years}}" name="user_experience_years" id="exp_years" class="form-control" placeholder="7" />
                    </div>
                </div>


                <div class="card-title" style="margin-top: 40px">
                    <h4>Contract Info</h4>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="form-label" for="hourPrice">Hour Price</label>
                        <input type="text" value="{{returned_data.contract_hour_price}}" name="contract_hour_price" class="form-control" id="hourPrice" placeholder="Ex; 80">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="exp_date">Expire Date</label>
                        <input type="text" value="{{returned_data.contract_expiry_date}}" id="exp_date" name="contract_expiry_date" class="form-control flatpickr-basic flatpickr-input" placeholder="YYYY-MM-DD" readonly="readonly">
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="form-check-label mb-50" for="customSwitch15">Auto Renewed?</label>
                        <div class="form-check form-switch form-check-success">
                            <input type="checkbox" value="{{returned_data.contract_auto_renewal}}" name="contract_auto_renewal" class="form-check-input" id="auto_renew">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="start_date">Starting Date</label>
                        <input type="text" id="start_date" value="{{returned_data.contract_starting_date}}" name="contract_starting_date" class="form-control flatpickr-basic flatpickr-input" placeholder="YYYY-MM-DD" readonly="readonly">
                    </div>

                </div>

                <div class="card-title" style="margin-top: 40px">
                    <h4>Finance Info</h4>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="form-label" for="annual_bonus">Annual Bonuses </label>
                        <input type="text" value="{{returned_data.annual_bonus_amount}}" name="annual_bonus_amount" class="form-control" id="annual_bonus" placeholder="(percentage of the basic salary)">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="bank_name">Bank Name</label>
                        <input type="text" value="{{returned_data.bank_account_bank_name}}" name="bank_account_bank_name" class="form-control" id="bank_name" placeholder="ٌٌRiyad Bank">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="holder_name">Card Holder Name</label>
                        <input type="text" value="{{returned_data.bank_account_card_holder_name}}" name="bank_account_card_holder_name" class="form-control" id="holder_name" placeholder="">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="IBAN">IBAN Number</label>
                        <input type="text" value="{{returned_data.bank_account_iban_number}}" name="bank_account_iban_number" class="form-control" id="IBAN" placeholder="SA4420000001234567891234">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label" for="house_allowance">Allowance Name</label>
                        <input type="text" value="{{returned_data.allowance_type}}" name="allowance_type" class="form-control" id="house_allowance" placeholder="25">
                        <label class="form-label" for="house_allowance">Allowance Amount</label>
                        <input type="text" value="{{returned_data.allowance_amount}}" name="allowance_amount" class="form-control" id="house_allowance" placeholder="25">
                    </div>
                    <!-- <div class="col-md-4">
                        <label class="form-label" for="tran_allowance">Transportation Allowance</label>
                        <input type="text" name="transportation_allownce" class="form-control" id="tran_allowance" placeholder="7">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="holder_name">Self Development Allowance</label>
                        <input type="text" name="self_development_allownce" class="form-control" id="self_allowance" placeholder="6">
                    </div> -->
                    <div class="card-title" style="margin-top: 40px">
                        <h4>Conditions & Terms</h4>
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label" for="conditions_terms">Contract Constraints</label>
                        <textarea class="form-control" name="contract_conditions" id="conditions_terms" rows="7" placeholder="">{{returned_data.contract_conditions}}</textarea>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <a href="{% url 'job_management:job_management/contracts_list' %}" class="btn btn-outline-danger btn-prev">
                            <i style="color: #EA5455;" data-feather="chevron-left" class="align-middle me-sm-25 me-0"></i>
                            <span style="color: #EA5455;" class="align-middle d-sm-inline-block d-none">Cancel</span>
                        </a>
                        <button class="btn btn-primary btn-next">
                            <span class="align-middle d-sm-inline-block d-none">Save</span>
                            <i data-feather="chevron-right" class="align-middle ms-sm-25 ms-0"></i>
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </div>
{% endif %}
    <!-- END: Page JS-->
{% endblock %}

{% block pageCJs %}

    <script>
    $(function (){
        $(".form-select").select2();
    })
    window.onload = function() {
            if ($('#error').length) {
            Swal.fire({
                title: 'Not Authorized',
                text: $('#error').val(),
                icon: 'error',
                confirmButtonText: 'Close'
                }).then((result) => {
                    window.location.replace("/");
                })
            }
        }

        window.onload = function()
        {
            if ($('#success_notification').length) {
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: $('#success_notification').val(),
                    showConfirmButton: false,
                    timer: 1750
                })
            }
        }
    </script>
{% endblock %}