{% extends 'common\baseView.html' %}
{% load index %}
{% load staticfiles %}

{% block pageCSS %}
    <!-- BEGIN: Page CSS-->

    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->

    <!-- END: Custom CSS-->
{% endblock %}

{% block viewName %}
    <h2 class="content-header-title float-start mb-0">Departments</h2>
{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ِAdd New Department</h4>

        </div>

        <div class="card-body">
            {% for field, errors in form_errors.errors.items %}
                {% for error in errors %}
                    {{error}}
                {% endfor %}
            {% endfor %}
            <form action="{% url 'job_management:job_management/departments' %}" method="POST" id="basic-input">
                {% csrf_token %}
                <div class="row">
                    <i class="fa-regular fa-face-clouds"></i>
                    <div class="col-md-8">
                        <label class="form-label" for="basicInput">Department Name</label>
                        <input type="hidden" name="request_type" value="create" class="form-control" id="request_type">
                        <input type="text" class="form-control" name="department_name" id="department_Name" placeholder="Enter department name">
                    </div>

                    <div class="col-md-2 mt-2">
                        <button style="width: 150px" class="btn btn-outline-success round waves-effect">Add</button>

                    </div>
                    {% if success_message %}
                    <p style="color: green;" class="card-text mb-2">{{success_message}}</p>
                    {% endif %}

                </div>

            </form>
        </div>

    </div>

    <hr>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"></h4>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Department</th>
                    <th>Status</th>
                    <th>Suspend</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                {%  if departments %}      
                    {% for department in departments %}
                        <tr>
                            <td>
                                <span class="fw-bold">{{ department.number }}</span>
                            </td>
                            <td id="department_name{{department.info.department_id}}">{{department.info.department_name}}</td>
                            {% if department.info.department_status %}
                            <td id="active_OR_inactive"><span id="active{{department.info.department_id}}" class="badge rounded-pill badge-light-success me-1">Active</span></td>
                            <td>
                                <div class="form-check form-check-secondary form-switch">
                                    <input type="checkbox" class="form-check-input" id="{{department.info.department_id}}"
                                      onclick="change_status(this.id)">
                                </div>
                            </td>
                        {% else %}
                            <td id="active_OR_inactive"><span id="inactive{{department.info.department_id}}" class="badge rounded-pill badge-light-danger me-1">Inactive</span></td>
                            <td>
                                <div class="form-check form-check-secondary form-switch">
                                    <input type="checkbox" class="form-check-input" id="{{department.info.department_id}}"
                                      onclick="change_status(this.id)" checked>
                                </div>
                            </td>
                        {% endif %}
                        
                    <td>
                        <i id="{{department.info.department_id}}" onclick="open_modal(this.id)" class="fa-regular fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#editForm"></i>
                    </td>
        
                        </tr>
                    {% endfor%}
                {% endif %}

                </tbody>
            </table>
        </div>
        <div class="modal fade text-start" id="editForm" tabindex="-1" aria-labelledby="myModalLabel33" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel33">Edit Department Form</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'job_management:job_management/departments' %}" method="post">
                        {%csrf_token%}
                        <div class="modal-body">
                            <input type="text" name="department_name" class="form-control" value="" id="modal_department_name_field" placeholder="Enter department name">
                            <input type="hidden" name="department_id" value="" class="form-control" id="modal_department_id_field" placeholder="Ex; 80">
                            <input type="hidden" name="request_type" value="update" class="form-control" id="request_type">

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- END: Page JS-->
{% endblock %}

{% block pageCJs %}
    <script>
        $(window).on('load', function() {
            $('#inactive').hide();
        })


        function change_status(checkbox_id)
        {
            var url = 'change_department_status/';
            if (document.getElementById(checkbox_id).checked){
                $.ajax({
                    url: url,
                    type: 'POST',
                    data : jQuery.param({'department_id': checkbox_id, "switch":"make_inactive",
                     "csrfmiddlewaretoken": $('[name=csrfmiddlewaretoken]').val()}),
                    success : function() {
                        span_id = "active" + checkbox_id
                        this_span = document.getElementById(span_id)
                        this_span.className = "badge rounded-pill badge-light-danger me-1"
                        this_span.innerHTML = "Inactive"
                        document.getElementById(span_id).id = "inactive" + checkbox_id;

                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        alert('Error: '+jqXHR.status);
                    }
                });
            }
            else {
                $.ajax({
                    url: url,
                    type: 'POST',
                    data : jQuery.param({'department_id': checkbox_id, "switch":"make_active",
                     "csrfmiddlewaretoken": $('[name=csrfmiddlewaretoken]').val()}),
                    success : function() {
                        span_id = "inactive" + checkbox_id
                        console.log(span_id)
                        this_span = document.getElementById(span_id)
                        this_span.className = "badge rounded-pill badge-light-success me-1"
                        this_span.innerHTML = "Active"
                        document.getElementById(span_id).id = "active" + checkbox_id;
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        alert('Error: '+jqXHR.status);
                    }
                });
            }
        }

        function open_modal(department_id){

            department_name = document.getElementById("department_name" + department_id).innerHTML;
            document.getElementById("modal_department_name_field").value = department_name;
            document.getElementById("modal_department_id_field").value = department_id;


        }

    </script>


{% endblock %}