{% extends 'common\baseView.html' %}
{% load staticfiles %}

{% block pageCSS %}
    <!-- BEGIN: Page CSS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->

    <!-- END: Custom CSS-->
{% endblock %}

{% block viewName %}
    <h2 class="content-header-title float-start mb-0">Job Titles</h2>
{% endblock %}


{% block content %}
{% if not_admin %}
    <input type="hidden" id="error" value="{{not_admin}}">
{% else %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ِAdd New Job Titles</h4>
        </div>
        {% if form_errors %}
            {% for field in form_errors %}
                {{field.errors}}
            {% endfor %}
        {% endif %}


        <div class="card-body">
            <form id="basic-input" action="{% url 'job_management:job_management/job_titles' %}" method="post">
                {%csrf_token%}
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label" for="basicSelect">Choose Department</label>
                        <select class="form-select" id="basicSelect" name = "job_title_department_id">
                            {% for department in departments %}
                                {% if department.info == form_errors.cleaned_data.job_title_department_id %}
                                    <option selected value="{{department.info.department_id}}">{{department.info.department_name}}</option>
                                {% else %}
                                    <option value="{{department.info.department_id}}">{{department.info.department_name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="basicInput">Job Titles Name</label>
                        <input type="text" value="{{form_errors.cleaned_data.job_title_name}}"  class="form-control" id="departmentName" name = "job_title_name" placeholder="Enter Job Titles name">
                        <input type="hidden" name="request_type" value="create" class="form-control" id="request_type">

                    </div>

                    <div class="col-md-3">
                        <label class="form-label" for="hourPrice">Hour Price</label>
                        <input type="text" value="{{form_errors.cleaned_data.job_title_hour_price}}" class="form-control" id="job_title_hour_price" name ="job_title_hour_price" placeholder="Ex; 80">
                        <input type="hidden" name ="job_title_status" value="True" >
                    </div>

                    <div class="col-md-2 mt-2">
                        <button style="width: 110px" type="submit" class="btn btn-outline-success round waves-effect">Add</button>
                    </div>
                </div>
                <!-- onclick="document.getElementById('basic-input').submit();" -->
            </form>
        </div>

    </div>

    <hr>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title"></h4>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Department</th>
                    <th>Job Titles</th>
                    <th>Hour Price</th>
                    <th>Status</th>
                    <th>Suspend</th>
                    <th>Edit</th>

                </tr>
                </thead>
                <tbody>
                {% if job_titles %}
                    {%  for job_title in job_titles %}
                <tr>
                    <td>
                        <span class="fw-bold">{{job_title.number}}</span>
                    </td>
                    <td id="department_id{{job_title.info.job_title_id}}">{{job_title.info.job_title_department_id}}</td>
                    <td id="job_title_name{{job_title.info.job_title_id}}">{{job_title.info.job_title_name}}</td>
                    <td id="job_title_hour_price{{job_title.info.job_title_id}}">{{job_title.info.job_title_hour_price}}</td>
                        {% if job_title.info.job_title_status %}
                            <td id="active_OR_inactive"><span id="active{{job_title.info.job_title_id}}" class="badge rounded-pill badge-light-success me-1">Active</span></td>
                            <td>
                                <div class="form-check form-check-secondary form-switch">
                                    <input type="checkbox" class="form-check-input" id="{{job_title.info.job_title_id}}"
                                      onclick="change_status(this.id)">
                                </div>
                            </td>
                        {% else %}
                            <td id="active_OR_inactive"><span id="inactive{{job_title.info.job_title_id}}" class="badge rounded-pill badge-light-danger me-1">Inactive</span></td>
                            <td>
                                <div class="form-check form-check-secondary form-switch">
                                    <input type="checkbox" class="form-check-input" id="{{job_title.info.job_title_id}}"
                                      onclick="change_status(this.id)" checked>
                                </div>
                            </td>
                        {% endif %}

                    <td>
                        <i id="{{job_title.info.job_title_id}}" onclick="open_modal(this.id)" class="fa-regular fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#editForm"></i>
                    </td>

                </tr>
                    {% endfor %}
                {% endif %}


                </tbody>
            </table>
        </div>
        <div class="modal fade text-start" id="editForm" tabindex="-1" aria-labelledby="myModalLabel33" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel33">Edit Job Title Form</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'job_management:job_management/job_titles' %}" method="post">
                        {%csrf_token%}
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="hidden" name="request_type" value="update" class="form-control" id="request_type">
                                    <label class="form-label" for="basicSelect">Choose Department</label>
                                    <select name = "job_title_department_id" id="modal_department_field" class="form-select" id="basicSelect">
                                    {% for department in departments %}
                                        <option value="{{department.info.department_id}}">{{department.info.department_name}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="basicInput">Job Titles Name</label>
                                    <input type="text" name="job_title_name" value="UI developer" class="form-control" id="modal_job_title_field">
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label" for="hourPrice">Hour Price</label>
                                    <input type="text" name="job_title_hour_price" value="" class="form-control" id="modal_hour_price_field" placeholder="Ex; 80">
                                    <input type="hidden" name="job_title_id" value="" class="form-control" id="modal_job_title_id_field" placeholder="Ex; 80">
                                    <input type="hidden" name="job_title_status" value="" class="form-control" id="modal_job_title_status_field" placeholder="Ex; 80">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    {% endif %}
    <!-- END: Page JS-->
{% endblock %}

{% block pageCJs %}
    <script>
        $(window).on('load', function() {
            $('#inactive').hide();
        })

        window.onload = function() {
            if ($('#error').length) {
            Swal.fire({
                title: 'Not Authorized',
                text: $('#error').val(),
                icon: 'error',
                confirmButtonText: 'Close'
                }).then((result) => {
                    window.location.replace("/");
                })
            }
        }

        function change_status(checkbox_id)
        {
            var url = 'change_job_title_status/';
            if (document.getElementById(checkbox_id).checked){
                $.ajax({
                    url: url,
                    type: 'POST',
                    data : jQuery.param({'job_title_id': checkbox_id, "switch":"make_inactive",
                     "csrfmiddlewaretoken": $('[name=csrfmiddlewaretoken]').val()}),
                    success : function() {
                        span_id = "active" + checkbox_id
                        this_span = document.getElementById(span_id)
                        this_span.className = "badge rounded-pill badge-light-danger me-1"
                        this_span.innerHTML = "Inactive"
                        document.getElementById(span_id).id = "inactive" + checkbox_id;

                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        alert('Error: '+jqXHR.status);
                    } 
                });
            }
            else {
                $.ajax({
                    url: url,
                    type: 'POST',
                    data : jQuery.param({'job_title_id': checkbox_id, "switch":"make_active",
                     "csrfmiddlewaretoken": $('[name=csrfmiddlewaretoken]').val()}),
                    success : function() { 
                        span_id = "inactive" + checkbox_id
                        console.log(span_id)
                        this_span = document.getElementById(span_id)
                        this_span.className = "badge rounded-pill badge-light-success me-1"
                        this_span.innerHTML = "Active"
                        document.getElementById(span_id).id = "active" + checkbox_id;
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        alert('Error: '+jqXHR.status);
                    } 
                });
            }
        }

        function open_modal(Job_title_id){
            
            job_title_department = document.getElementById("department_id" + Job_title_id).innerHTML;
            $("#modal_department_field option").filter(function() {
            return $(this).text() == job_title_department;
            }).prop('selected', true);

            job_title_name = document.getElementById("job_title_name" + Job_title_id).innerHTML;
            document.getElementById("modal_job_title_field").value = job_title_name;

            job_title_hour_price = document.getElementById("job_title_hour_price" + Job_title_id).innerHTML;
            document.getElementById("modal_hour_price_field").value = job_title_hour_price;
            
            if (document.getElementById(Job_title_id).checked){
                document.getElementById("modal_job_title_status_field").value = 0;
            }
            else{
                document.getElementById("modal_job_title_status_field").value = 1;  
            }
            document.getElementById("modal_job_title_id_field").value = Job_title_id;
 
        }

    </script>




{% endblock %}