{% extends 'common\baseView.html' %}
{% load staticfiles %}

{% block pageCSS %}
    <!-- BEGIN: Page CSS-->
    <title>View Evaluations</title>

    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->

    <!-- END: Custom CSS-->
{% endblock %}

{% block viewName %}
{% if user.is_admin %}
<h2 class="content-header-title float-start mb-0">Evaluations</h2>
{% else %}
<h2 class="content-header-title float-start mb-0">My Evaluations</h2>
{% endif %}{% endblock %}


{% block content %}

    <div class="card">
        <div class="card-header">
            <h4 class="card-title"></h4>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Evaluation For</th>
                    <th>Overall Evaluation</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                
                {% if evaluations %}
                    {% for evaluation in evaluations %}
                        {% if evaluation.info.evaluation_user_id == user or user.is_admin %}

                        <tr>
                            <td>
                                <span class="fw-bold">{{evaluation.info}}</span>
                            </td>

                            <td><span class="badge rounded-pill badge-light-success me-1">%{{evaluation.info.evaluation_overall_rate}}</span></td>
                            <td>
                                {{evaluation.info.evaluation_created_at|date:"M d, Y"}}
                            </td>

                        </tr>

                        {% endif %}
                    {% endfor %}
                {% endif %}


                </tbody>
            </table>
        </div>
    </div>

    <!-- END: Page JS-->
{% endblock %}

{% block pageCJs %}


{% endblock %}