{% extends 'common\baseView.html' %}
{% load staticfiles %}

{% block pageCSS %}
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static "css/Dash/chart-apex.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/Dash/apexcharts.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- END: Page CSS-->
    <title>Dashboard</title>

    <!-- BEGIN: Custom CSS-->

    <!-- END: Custom CSS-->
{% endblock %}

{% block viewName %}
    <h2 class="content-header-title float-start mb-0">Dashboard</h2>
{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ِ</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-5 col-md-7 col-12">
                    <div class="card card-profile">
                        <div class="card-body mt-1">
                            <div class="profile-image-wrapper">
                                <div class="profile-image">
                                    <div class="avatar">
                                        {% if user.user_photo %}
                                            <img src="/{{user.user_photo}}" alt="Profile Picture">
                                        {% else %}
                                            <img src="{% static 'images/employee.png' %}"" alt="Profile Picture">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <h3>{{user}}</h3>
                            <h6 class="text-muted">{{user.job_title_id}}</h6>
                            <!-- <span class="badge badge-light-primary profile-badge">{{user.user_experience_years}}</span> -->
                            <hr class="mb-2">
                                <h4 class="fw-bolder d-flex justify-content-between align-items-start mb-1"><b>Personal Info:</b></h4>
                            <div class="row">
                                <div class="col-md-5 d-flex justify-content-between align-items-start">ID Number:</div>
                                <div class="col-md-6 d-flex justify-content-between align-items-end">{{user.user_id_number}}</div>
                            </div>
                            <div class="row">
                                   <div class="col-md-5 d-flex justify-content-between align-items-start">Education Degee:</div>
                                    <div class="col-md-6 d-flex justify-content-between align-items-end">{{user.user_education_degree}}</div>
                            </div>
                            <div class="row">
                                   <div class="col-md-5 d-flex justify-content-between align-items-start">Experience Years:</div>
                                    <div class="col-md-6 d-flex justify-content-between align-items-end">{{user.user_experience_years}} Years</div>
                            </div>
                            <div class="row">
                                   <div class="col-md-5 d-flex justify-content-between align-items-start">
                                       Nationality:
                                   </div>
                                    <div class="col-md-6 d-flex justify-content-between align-items-end">
                                        {{user.user_nationality_ID}}
                                   </div>
                            </div>
                            <div class="row">
                                   <div class="col-md-5 d-flex justify-content-between align-items-start">
                                       Date of Birth:
                                   </div>
                                    <div class="col-md-6 d-flex justify-content-between align-items-start">
                                        {{user.user_DOB}}
                                   </div>
                            </div>
                            <div class="row">
                                   <div class="col-md-5 d-flex justify-content-between align-items-start">
                                       Phone:
                                   </div>
                                    <div class="col-md-6 d-flex justify-content-between align-items-end">
                                        {{user.user_mobile}}
                                   </div>
                            </div>
                            <div class="row">
                                   <div class="col-md-5 d-flex justify-content-between align-items-start">
                                       Email:
                                   </div>
                                    <div class="col-md-6 d-flex justify-content-between align-items-end">
                                        {{user.email}}
                                   </div>
                            </div>
                            <h4 class="fw-bolder mt-1 d-flex justify-content-between align-items-start mb-1"><b>Contract Info:</b></h4>
                            {% if user_contract %}
                            <div class="row">
                                   <div class="col-md-5 d-flex justify-content-between align-items-start">
                                       Hour Price:
                                   </div>
                                    <div class="col-md-6 d-flex justify-content-between align-items-end">
                                            {{user.user_job_title_id.job_title_hour_price}}
                            </div>
                            
                                <div class="row">
                                    <div class="col-md-5 d-flex justify-content-between align-items-start">
                                        Expire Date:
                                    </div>
                                        <div class="col-md-6 d-flex justify-content-between align-items-end">
                                        {{user_contract.contract_expiry_date}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 d-flex justify-content-between align-items-start">
                                        Staring Date:
                                    </div>
                                        <div class="col-md-6 d-flex justify-content-between align-items-end">
                                        {{user_contract.contract_starting_date}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 d-flex justify-content-between align-items-start">
                                        Auto Renew:
                                    </div>
                                        <div class="col-md-6 d-flex justify-content-between align-items-end">
                                        {% if user_contract.contract_auto_renewal %}
                                            <i class="fa-solid fa-check alert-success"></i>
                                        {% else %}
                                        No
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                This employee does not have a contract yet
                            {% endif %}
                            
                        </div>
                    </div>
                </div>

            </div>
                {% if values_array %}
                    <div class="card col-lg-7 col-md-5 col-12">
                        <div class="card-header align-items-start">
                            <div>
                                <h4 class="card-title mb-25">Evaluations</h4>
                                <p class="card-text mb-0">Lastest Evaluations</p>
                            </div>
                        </div>
                        <div class="card-body pb-0">
                            <div id="sales-line-chart"></div>
                        </div>
                    </div>
                {% endif %}
            <div class="row">

                {% if user_loan %}
                <div class="col-lg-4 col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Loan</h4>
                        </div>
                            <div class="card-body p-0">
                                <div id="goal-overview-chart"></div>
                                <div class="row border-top text-center mx-0">
                                    <div class="col-6 border-end py-1">
                                        <p class="card-text text-muted mb-0">Completed</p>
                                        <h3 class="fw-bolder mb-0">{{user_loan.completed_amount}} SAR</h3>
                                    </div>
                                    <div class="col-6 py-1">
                                        <p class="card-text text-muted mb-0">Remaining</p>
                                        <h3 class="fw-bolder mb-0">{{user_loan.remaining_amount}} SAR</h3>
                                    </div>
                                </div>
                            </div>
                    </div>

                </div>
                {% endif %}
                {% if user_rewards or user_punishments or user_overtimes %}
                <div class="col-lg-8 col-md-6 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Finance:
                            </h4>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                {% if user_rewards %}
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <h6 class="">Rewards:
                                        </h6>
                                        {% for reward in user_rewards %}
                                            <div class="row">
                                                <div class="col-md-6"> <span class="badge bg-success"> +{{reward.reward_amount}} SAR</span></div>
                                                    <div class="col-md-5">{{reward.reward_created_at|date}}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}


                                {% if user_punishments %}
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <h6 class="">Punishments:
                                        </h6>
                                        {% for punishment in user_punishments %}
                                            <div class="row">
                                                <div class="col-md-6"><span class="badge bg-danger"> -{{punishment.punishment_amount}} SAR</span></div>
                                                <div class="col-md-5">{{punishment.punishment_created_at|date}}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% if user_overtimes %}
                                    <div class="col-lg-8 col-md-8 col-12 mt-2">
                                        <h6 class="">Overtime:</h6>
                                        {% for overtime in user_overtimes %}
                                            <div class="row">
                                                <div class="col-md-5">{{overtime.overtime_overtime_category_id}}</div>
                                                <div class="col-md-3">{{overtime.overtime_hours}} Hours</div>
                                                <div class="col-md-4">{{overtime.overtime_date}}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>

                        </div>

                    </div>
                </div>
                {% endif %}
            </div>
        </div>

    </div>

<input type="hidden" id="values" value="{{values_array|safe}}">
<input type="hidden" id="dates" value="{{months_array|safe}}">

    <!-- END:
Page JS-->
{% endblock %}

{% block pageCJs %}
    <!-- <script src="{% static 'js/Dash/card-analytics.js' %}"></script> -->
    <script src="{% static 'js/Dash/apexcharts.min.js' %}"></script> 

    <script>
        $(window).on('load', function () {
            'use strict';
            var salesLineChartOptions;
            var salesLineChart;
            var $strokeColor = '#ebe9f1';
            var $salesStrokeColor2 = '#df87f2';
            var $textMutedColor = '#b9b9c3';
            var $salesLineChart = document.querySelector('#sales-line-chart');
            var values_array = JSON.parse("{{values_array|safe}}");
            // console.log(values_array)
            var months_array = "{{months_array|safe}}";
            months_array = months_array.replace('[', '');
            months_array = months_array.replace(']', '');
            months_array = months_array.replace(/['"]+/g, '');
            // console.log(months_array)
            months_array = months_array.split(",")
            // console.log(months_array)



            // Sales Line Chart
            // -----------------------------
            salesLineChartOptions = {
                chart: {
                    height: 240,
                    toolbar: {show: false},
                    zoom: {enabled: false},
                    type: 'line',
                    dropShadow: {
                        enabled: true,
                        top: 18,
                        left: 2,
                        blur: 5,
                        opacity: 0.2
                    },
                    offsetX: -10
                },
                stroke: {
                    curve: 'smooth',
                    width: 4
                },
                grid: {
                    borderColor: $strokeColor,
                    padding: {
                        top: -20,
                        bottom: 5,
                        left: 20
                    }
                },
                legend: {
                    show: false
                },
                colors: [$salesStrokeColor2],
                fill: {
                    type: 'gradient',
                    gradient: {
                        shade: 'dark',
                        inverseColors: false,
                        gradientToColors: [window.colors.solid.primary],
                        shadeIntensity: 1,
                        type: 'horizontal',
                        opacityFrom: 1,
                        opacityTo: 1,
                        stops: [0, 100, 100, 100]
                    }
                },
                markers: {
                    size: 0,
                    hover: {
                        size: 5
                    }
                },
                xaxis: {
                    labels: {
                        offsetY: 5,
                        style: {
                            colors: $textMutedColor,
                            fontSize: '0.857rem'
                        }
                    },
                    axisTicks: {
                        show: false
                    },
                    categories: months_array,
                    axisBorder: {
                        show: false
                    },
                    tickPlacement: 'on'
                },
                yaxis: {
                    tickAmount: 5,
                    labels: {
                        style: {
                            colors: $textMutedColor,
                            fontSize: '0.857rem'
                        },
                        formatter: function (val) {
                            return val > 999 ? (val / 1000).toFixed(1) + 'k' : val;
                        }
                    }
                },
                tooltip: {
                    x: {show: false}
                },
                series: [
                    {
                        name: 'Performance',
                        data: values_array
                    }
                ]
            };
            
            salesLineChart = new ApexCharts($salesLineChart, salesLineChartOptions);
            salesLineChart.render();

            // Goal Overview  Chart
            // -----------------------------
            var $goalOverviewChart = document.querySelector('#goal-overview-chart');
            var $goalStrokeColor2 = '#51e5a8';
            var $goalStrokeColor2 = '#51e5a8';
            var $textHeadingColor = '#5e5873';

            var goalChartOptions = {
            chart: {
            height: 245,
            type: 'radialBar',
            sparkline: {
                enabled: true
            },
            dropShadow: {
                enabled: true,
                blur: 3,
                left: 1,
                top: 1,
                opacity: 0.1
            }
            },
            colors: [$goalStrokeColor2],
            plotOptions: {
            radialBar: {
                offsetY: -10,
                startAngle: -150,
                endAngle: 150,
                hollow: {
                size: '70%'
                },
                track: {
                background: $strokeColor,
                strokeWidth: '50%'
                },
                dataLabels: {
                name: {
                    show: false
                },
                value: {
                    color: $textHeadingColor,
                    fontSize: '2.86rem',
                    fontWeight: '600'
                }
                }
            }
            },
            fill: {
            type: 'gradient',
            gradient: {
                shade: 'dark',
                type: 'horizontal',
                shadeIntensity: 0.5,
                gradientToColors: [window.colors.solid.success],
                inverseColors: true,
                opacityFrom: 1,
                opacityTo: 1,
                stops: [0, 100]
            }
            },
            series: ['{{user_loan.completed_percentage}}'],
            stroke: {
            lineCap: 'round'
            },
            grid: {
            padding: {
                bottom: 30
            }
            }
        };
            var goalChart = new ApexCharts($goalOverviewChart, goalChartOptions);
            goalChart.render();
        });

    </script>


    <script>

    $(function (){
        $(".form-select").select2();
    })


    </script>


{% endblock %}