{% extends 'common\commonView.html' %}
{% load staticfiles %}

{% block title %}
    <title>Register Page</title>
{% endblock %}

{% block pageCSS %}
    <link rel="stylesheet" type="text/css" href="{% static "css/users/bs-stepper.min.css" %}">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static "css/users/form-wizard.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/users/authentication.css" %}">
     <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
   <link rel="stylesheet" type="text/css" href="{% static "common/css/style.css" %}">
    <!-- END: Custom CSS-->
{% endblock %}


{% block content %}

    <body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="blank-page">
        <!-- BEGIN: Content-->
        <div class="app-content content ">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <div class="auth-wrapper auth-cover">
                        <div class="auth-inner row m-0">

                            <!-- Left Text-->
                            <div class="col-lg-3 d-none d-lg-flex align-items-center p-0">
                                <div class="w-100 d-lg-flex align-items-center justify-content-center">
                                    <img class="img-fluid w-100" src="{% static 'images/users/create-account.svg' %}" alt="multi-steps" />
                                </div>
                            </div>
                            <!-- /Left Text-->

                        <!-- Register-->
                        <div class="col-lg-9 d-flex align-items-center auth-bg px-2 px-sm-3 px-lg-5 pt-3">
                            <div class="width-700 mx-auto">
                                <div class="bs-stepper register-multi-steps-wizard shadow-none">
                                    <div class="bs-stepper-header px-0" role="tablist">
                                        <div class="step" data-target="#account-details" role="tab" id="account-details-trigger">
                                            <button type="button" class="step-trigger">
                                                <span class="bs-stepper-box">
                                                    <i data-feather="home" class="font-medium-3"></i>
                                                </span>
                                                <span class="bs-stepper-label">
                                                    <span class="bs-stepper-title">Account</span>
                                                    <span class="bs-stepper-subtitle">Enter account details</span>
                                                </span>
                                            </button>
                                        </div>                                      
                                    </div>
                                        {{register_form.errors}}
                                    <div class="bs-stepper-content px-0 mt-4">
                                        <div id="account-details" class="content" role="tabpanel" aria-labelledby="account-details-trigger">
                                            <div class="content-header mb-2">
                                                <h2 class="fw-bolder mb-75">Account Information</h2>
                                                <span>Enter employee's details</span>
                                            </div>
                                            <form action="{% url 'users:users/register' %}" method="POST">
                                                {%csrf_token%}
                                                <div class="row">
                                                    <div class="col-md-3 mb-1">
                                                        <label class="form-label" for="username">Username</label>
                                                        <input type="text" name="username" id="username" class="form-control" placeholder="" aria-label="john.doe" />
                                                        <!-- {{register_form.username}} -->
                                                    </div>

                                                    <div class="col-md-3 mb-1">
                                                        <label class="form-label" for="user_first_name">First Name</label>
                                                        <input type="text" name="user_first_name" id="user_first_name" class="form-control" placeholder="أبو علي" />
                                                        <!-- {{register_form.user_first_name}} -->
                                                    </div>
                                                    <div class="col-md-3 mb-1">
                                                        <label class="form-label" for="user_first_name">Second Name</label>
                                                        <input type="text" name="user_middle_name" id="user_middle_name" class="form-control" placeholder=" بوتين" />
                                                        <!-- {{register_form.user_first_name}} -->
                                                    </div>

                                                    <div class="col-md-3 mb-1">
                                                        <label class="form-label" for="user_last_name">Last Name</label>
                                                        <input type="text" name="user_last_name" id="user_last_name" class="form-control" placeholder="النووي" aria-label="john.doe" />
                                                        <!-- {{register_form.user_last_name}} -->

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4 mb-1">
                                                        <label class="form-label" for="user_mobile">Phone Number</label>
                                                        <input type="phone" name="user_mobile" id="user_mobile" class="form-control" placeholder="052 والباقي لبعدين" aria-label="john.doe" />
                                                        <!-- {{register_form.user_mobile}} -->
                                                    </div>
                                                    <div class="col-md-4 mb-1">
                                                        <label class="form-label" for="email">Email</label>
                                                        <input type="email" name="email" id="email" class="form-control" placeholder="john.doe@email.com" aria-label="john.doe" />
                                                        <!-- {{register_form.email}} -->
                                                    </div>
                                                    <div class="col-md-4 mb-1">
                                                        <label class="form-label" for="id_num">ID Number</label>
                                                        <input type="text" name="user_mobile" id="user_mobile" class="form-control" placeholder="1406567375" aria-label="john.doe" />
                                                        <!-- {{register_form.email}} -->
                                                    </div>
                                                    <div class="row">

                                                <div class="col-md-6 mb-1">
                                                        <label class="form-label" for="password1">Password</label>
                                                        <div class="input-group input-group-merge form-password-toggle">
                                                            <input type="password" name="password1" id="password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                                            <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-1">
                                                        <label class="form-label" for="confirm-password">Confirm Password</label>
                                                        <div class="input-group input-group-merge form-password-toggle">
                                                            <input type="password" name="password2" id="confirm-password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                                            <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 mb-1">
                                                        <label class="form-check-label mb-50" for="customSwitch15">Admin?</label>
                                                        <div class="form-check form-switch form-check-dark">
                                                            <input type="checkbox" name="is_admin" class="form-check-input" id="customSwitch15" checked="">
                                                            <!-- {{register_form.is_admin}} -->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 mb-1" data-select2-id="46">
                                                        <label class="form-label" for="select2-basic">Nationality</label>
                                                        <div class="position-relative" data-select2-id="45">
                                                            <select name="user_nationality_ID" class="select2 form-select select2-hidden-accessible" id="select2-basic" data-select2-id="select2-basic" tabindex="-1" aria-hidden="true">
                                                                <!-- {{register_form.user_nationality_ID}} -->
                                                                <option value="1" data-select2-id="2">Saudi Arabia</option>
                                                                <option value="2" data-select2-id="57">UAE</option>
                                                                <option value="3" data-select2-id="58">Iraq</option> -->
                                                            </select> 
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 mb-1">
                                                        <label class="form-label" for="user_DOB">Date of Birth</label>
                                                        <input type="text" id="Dob" name="user_DOB" class="form-control flatpickr-basic flatpickr-input" placeholder="YYYY-MM-DD" readonly="readonly">
                                                        <!-- {{register_form.user_DOB}} -->
                                                    </div>

                                                    </div>
                                                </form>

                                                <div class="d-flex justify-content-between mt-2">
                                                    <a href="{% url 'users:users/login' %}" class="btn btn-outline-danger btn-prev">
                                                        <i style="color: #EA5455;" data-feather="chevron-left" class="align-middle me-sm-25 me-0"></i>
                                                        <span style="color: #EA5455;" class="align-middle d-sm-inline-block d-none">Cancel</span>
                                                    </a>
                                                    <button class="btn btn-primary btn-next">
                                                        <span class="align-middle d-sm-inline-block d-none">Submit</span>
                                                        <i data-feather="chevron-right" class="align-middle ms-sm-25 ms-0"></i>
                                                    </button>
                                                </div>
                                            </form>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END: Content-->



{% endblock %}

{% block pageCJs %}

    <script src="{% static "js/users/bs-stepper.min.js" %}"></script>
    <script src="{% static "js/users/cleave.min.js" %}"></script>
    <script src="{% static "js/users/cleave-phone.sa.js" %}"></script>
    <script src="{% static "js/users/auth-register.js" %}"></script>

    <!-- END: Page JS-->

    <script>
        var basicPickr = $('.flatpickr-basic');
        //   var yearPickr  = $('.flatpickr-year');
        // Default
        if (basicPickr.length) {
            basicPickr.flatpickr();
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    }
    </script>
</body>
<!-- END: Body-->

</html>

{% endblock %}
