{% extends 'common\commonView.html' %}
{% load staticfiles %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block pageCSS %}
    <link rel="stylesheet" type="text/css" href="{% static "css/users/bs-stepper.min.css" %}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static "css/users/form-wizard.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/users/authentication.css" %}">
     <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
   <link rel="stylesheet" type="text/css" href="{% static "common/css/style.css" %}">
    <!-- END: Custom CSS-->
{% endblock %}


{% block content %}
{% if user.is_admin %}
    <body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="blank-page">
        <!-- BEGIN: Content-->
        <div class="app-content content ">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body">
                    <div class="auth-wrapper auth-cover">
                        <div class="auth-inner row m-0">

                            <!-- Left Text-->
                            <div class="col-lg-3 d-none d-lg-flex align-items-center p-0">
                                <div class="w-100 d-lg-flex align-items-center justify-content-center">
                                    <img class="img-fluid w-100" src="{% static 'images/users/user.svg' %}" alt="multi-steps" />
                                </div>
                            </div>
                            <!-- /Left Text-->

                        <!-- Register-->
                        <div class="col-lg-9 d-flex align-items-center auth-bg px-2 px-sm-3 px-lg-5 pt-3">
                            <div class="width-700 mx-auto">
                                <div class="bs-stepper register-multi-steps-wizard shadow-none">
                                    <div class="bs-stepper-header px-0" role="tablist">
                                        <div class="step" data-target="#account-details" role="tab" id="account-details-trigger">
                                            <button type="button" class="step-trigger">
                                                <span class="bs-stepper-box">
                                                    <i data-feather="home" class="font-medium-3"></i>
                                                </span>
                                                <span class="bs-stepper-label">
                                                    <span class="bs-stepper-title">Account</span>
                                                    <span class="bs-stepper-subtitle">Enter account details</span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                        {{form_errors.errors}}
                                        {{password_errors}}
                                    <div class="bs-stepper-content px-0 mt-4">
                                        <div id="account-details" class="content" role="tabpanel" aria-labelledby="account-details-trigger">
                                            <div class="content-header mb-2">
                                                <h2 class="fw-bolder mb-75">Account Information</h2>
                                                <span>Enter employee's details</span>
                                            </div>
                                            <form action="{% url 'users:users/register' %}" method="POST">
                                                {%csrf_token%}
                                                <div class="row">
                                                    <div class="col-md-3 mb-1">
                                                        <label class="form-label" for="username">Username</label>
                                                        <input type="text" value="{{form_errors.cleaned_data.username}}" name="username" id="username" class="form-control" placeholder="" aria-label="john.doe" />
                                                        <!-- {{register_form.username}} -->
                                                    </div>

                                                    <div class="col-md-3 mb-1">
                                                        <label class="form-label" for="user_first_name">First Name</label>
                                                        <input type="text" value="{{form_errors.cleaned_data.user_first_name}}" name="user_first_name" id="user_first_name" class="form-control" placeholder="أبو علي" />
                                                        <!-- {{register_form.user_first_name}} -->
                                                    </div>
                                                    <div class="col-md-3 mb-1">
                                                        <label class="form-label" for="user_first_name">Second Name</label>
                                                        <input type="text" value="{{form_errors.cleaned_data.user_middle_name}}" name="user_middle_name" id="user_middle_name" class="form-control" placeholder=" بوتين" />
                                                        <!-- {{register_form.user_first_name}} -->
                                                    </div>

                                                    <div class="col-md-3 mb-1">
                                                        <label class="form-label" for="user_last_name">Last Name</label>
                                                        <input type="text" value="{{form_errors.cleaned_data.user_last_name}}" name="user_last_name" id="user_last_name" class="form-control" placeholder="النووي" aria-label="john.doe" />
                                                        <!-- {{register_form.user_last_name}} -->

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4 mb-1">
                                                        <label class="form-label" for="user_mobile">Phone Number</label>
                                                        <input type="phone" value="{{form_errors.cleaned_data.user_mobile}}" name="user_mobile" id="user_mobile" class="form-control" placeholder="052 والباقي لبعدين" aria-label="john.doe" />
                                                        <!-- {{register_form.user_mobile}} -->
                                                    </div>
                                                    <div class="col-md-4 mb-1">
                                                        <label class="form-label" for="email">Email</label>
                                                        <input type="email" value="{{form_errors.cleaned_data.email}}" name="email" id="email" class="form-control" placeholder="john.doe@email.com" aria-label="john.doe" />
                                                        <!-- {{register_form.email}} -->
                                                    </div>
                                                    <div class="col-md-4 mb-1">
                                                        <label class="form-label" for="id_num">ID Number</label>
                                                        <input type="text" value="{{form_errors.cleaned_data.user_id_number}}" name="user_id_number" id="user_id_number" class="form-control" placeholder="1406567375" aria-label="john.doe" />
                                                        <!-- {{register_form.email}} -->
                                                    </div>
                                                    <div class="row">

                                                <div class="col-md-6 mb-1">
                                                        <label class="form-label" for="password">Password</label>
                                                        <div class="input-group input-group-merge form-password-toggle">
                                                            <input type="password" name="password1" id="password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                                            <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-1">
                                                        <label class="form-label" for="confirm-password">Confirm Password</label>
                                                        <div class="input-group input-group-merge form-password-toggle">
                                                            <input type="password" name="password2" id="confirm-password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                                            <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 mb-1">
                                                        <label class="form-check-label mb-50" for="customSwitch15">Admin?</label>
                                                        <div class="form-check form-switch form-check-dark">
                                                            <input type="checkbox" name="is_admin" class="form-check-input" id="customSwitch15" checked="">
                                                            <!-- {{register_form.is_admin}} -->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 mb-1" data-select2-id="46">
                                                        <label class="form-label" for="select2-basic">Nationality</label>
                                                        <div class="position-relative" data-select2-id="45">
                                                            <select name="user_nationality_ID" class="select2 form-select select2-hidden-accessible" id="select2-basic" data-select2-id="select2-basic" tabindex="-1" aria-hidden="true">
                                                                <!-- {{register_form.user_nationality_ID}} -->
                                                                {% comment %}<option value="1" data-select2-id="2">Saudi Arabia</option>
                                                                <option value="2" data-select2-id="57">UAE</option>
                                                                <option value="3" data-select2-id="58">Iraq</option>{% endcomment %}
                                                                <option value="">-- select one --</option>
                                                                <option value="afghan">Afghan</option>
                                                                <option value="albanian">Albanian</option>
                                                                <option value="algerian">Algerian</option>
                                                                <option value="american">American</option>
                                                                <option value="andorran">Andorran</option>
                                                                <option value="angolan">Angolan</option>
                                                                <option value="antiguans">Antiguans</option>
                                                                <option value="argentinean">Argentinean</option>
                                                                <option value="armenian">Armenian</option>
                                                                <option value="australian">Australian</option>
                                                                <option value="austrian">Austrian</option>
                                                                <option value="azerbaijani">Azerbaijani</option>
                                                                <option value="bahamian">Bahamian</option>
                                                                <option value="bahraini">Bahraini</option>
                                                                <option value="bangladeshi">Bangladeshi</option>
                                                                <option value="barbadian">Barbadian</option>
                                                                <option value="barbudans">Barbudans</option>
                                                                <option value="batswana">Batswana</option>
                                                                <option value="belarusian">Belarusian</option>
                                                                <option value="belgian">Belgian</option>
                                                                <option value="belizean">Belizean</option>
                                                                <option value="beninese">Beninese</option>
                                                                <option value="bhutanese">Bhutanese</option>
                                                                <option value="bolivian">Bolivian</option>
                                                                <option value="bosnian">Bosnian</option>
                                                                <option value="brazilian">Brazilian</option>
                                                                <option value="british">British</option>
                                                                <option value="bruneian">Bruneian</option>
                                                                <option value="bulgarian">Bulgarian</option>
                                                                <option value="burkinabe">Burkinabe</option>
                                                                <option value="burmese">Burmese</option>
                                                                <option value="burundian">Burundian</option>
                                                                <option value="cambodian">Cambodian</option>
                                                                <option value="cameroonian">Cameroonian</option>
                                                                <option value="canadian">Canadian</option>
                                                                <option value="cape verdean">Cape Verdean</option>
                                                                <option value="central african">Central African</option>
                                                                <option value="chadian">Chadian</option>
                                                                <option value="chilean">Chilean</option>
                                                                <option value="chinese">Chinese</option>
                                                                <option value="colombian">Colombian</option>
                                                                <option value="comoran">Comoran</option>
                                                                <option value="congolese">Congolese</option>
                                                                <option value="costa rican">Costa Rican</option>
                                                                <option value="croatian">Croatian</option>
                                                                <option value="cuban">Cuban</option>
                                                                <option value="cypriot">Cypriot</option>
                                                                <option value="czech">Czech</option>
                                                                <option value="danish">Danish</option>
                                                                <option value="djibouti">Djibouti</option>
                                                                <option value="dominican">Dominican</option>
                                                                <option value="dutch">Dutch</option>
                                                                <option value="east timorese">East Timorese</option>
                                                                <option value="ecuadorean">Ecuadorean</option>
                                                                <option value="egyptian">Egyptian</option>
                                                                <option value="emirian">Emirian</option>
                                                                <option value="equatorial guinean">Equatorial Guinean
                                                                </option>
                                                                <option value="eritrean">Eritrean</option>
                                                                <option value="estonian">Estonian</option>
                                                                <option value="ethiopian">Ethiopian</option>
                                                                <option value="fijian">Fijian</option>
                                                                <option value="filipino">Filipino</option>
                                                                <option value="finnish">Finnish</option>
                                                                <option value="french">French</option>
                                                                <option value="gabonese">Gabonese</option>
                                                                <option value="gambian">Gambian</option>
                                                                <option value="georgian">Georgian</option>
                                                                <option value="german">German</option>
                                                                <option value="ghanaian">Ghanaian</option>
                                                                <option value="greek">Greek</option>
                                                                <option value="grenadian">Grenadian</option>
                                                                <option value="guatemalan">Guatemalan</option>
                                                                <option value="guinea-bissauan">Guinea-Bissauan</option>
                                                                <option value="guinean">Guinean</option>
                                                                <option value="guyanese">Guyanese</option>
                                                                <option value="haitian">Haitian</option>
                                                                <option value="herzegovinian">Herzegovinian</option>
                                                                <option value="honduran">Honduran</option>
                                                                <option value="hungarian">Hungarian</option>
                                                                <option value="icelander">Icelander</option>
                                                                <option value="indian">Indian</option>
                                                                <option value="indonesian">Indonesian</option>
                                                                <option value="iranian">Iranian</option>
                                                                <option value="iraqi">Iraqi</option>
                                                                <option value="irish">Irish</option>
                                                                <option value="israeli">Israeli</option>
                                                                <option value="italian">Italian</option>
                                                                <option value="ivorian">Ivorian</option>
                                                                <option value="jamaican">Jamaican</option>
                                                                <option value="japanese">Japanese</option>
                                                                <option value="jordanian">Jordanian</option>
                                                                <option value="kazakhstani">Kazakhstani</option>
                                                                <option value="kenyan">Kenyan</option>
                                                                <option value="kittian and nevisian">Kittian and
                                                                    Nevisian
                                                                </option>
                                                                <option value="kuwaiti">Kuwaiti</option>
                                                                <option value="kyrgyz">Kyrgyz</option>
                                                                <option value="laotian">Laotian</option>
                                                                <option value="latvian">Latvian</option>
                                                                <option value="lebanese">Lebanese</option>
                                                                <option value="liberian">Liberian</option>
                                                                <option value="libyan">Libyan</option>
                                                                <option value="liechtensteiner">Liechtensteiner</option>
                                                                <option value="lithuanian">Lithuanian</option>
                                                                <option value="luxembourger">Luxembourger</option>
                                                                <option value="macedonian">Macedonian</option>
                                                                <option value="malagasy">Malagasy</option>
                                                                <option value="malawian">Malawian</option>
                                                                <option value="malaysian">Malaysian</option>
                                                                <option value="maldivan">Maldivan</option>
                                                                <option value="malian">Malian</option>
                                                                <option value="maltese">Maltese</option>
                                                                <option value="marshallese">Marshallese</option>
                                                                <option value="mauritanian">Mauritanian</option>
                                                                <option value="mauritian">Mauritian</option>
                                                                <option value="mexican">Mexican</option>
                                                                <option value="micronesian">Micronesian</option>
                                                                <option value="moldovan">Moldovan</option>
                                                                <option value="monacan">Monacan</option>
                                                                <option value="mongolian">Mongolian</option>
                                                                <option value="moroccan">Moroccan</option>
                                                                <option value="mosotho">Mosotho</option>
                                                                <option value="motswana">Motswana</option>
                                                                <option value="mozambican">Mozambican</option>
                                                                <option value="namibian">Namibian</option>
                                                                <option value="nauruan">Nauruan</option>
                                                                <option value="nepalese">Nepalese</option>
                                                                <option value="new zealander">New Zealander</option>
                                                                <option value="ni-vanuatu">Ni-Vanuatu</option>
                                                                <option value="nicaraguan">Nicaraguan</option>
                                                                <option value="nigerien">Nigerien</option>
                                                                <option value="north korean">North Korean</option>
                                                                <option value="northern irish">Northern Irish</option>
                                                                <option value="norwegian">Norwegian</option>
                                                                <option value="omani">Omani</option>
                                                                <option value="pakistani">Pakistani</option>
                                                                <option value="palauan">Palauan</option>
                                                                <option value="panamanian">Panamanian</option>
                                                                <option value="papua new guinean">Papua New Guinean
                                                                </option>
                                                                <option value="paraguayan">Paraguayan</option>
                                                                <option value="peruvian">Peruvian</option>
                                                                <option value="polish">Polish</option>
                                                                <option value="portuguese">Portuguese</option>
                                                                <option value="qatari">Qatari</option>
                                                                <option value="romanian">Romanian</option>
                                                                <option value="russian">Russian</option>
                                                                <option value="rwandan">Rwandan</option>
                                                                <option value="saint lucian">Saint Lucian</option>
                                                                <option value="salvadoran">Salvadoran</option>
                                                                <option value="samoan">Samoan</option>
                                                                <option value="san marinese">San Marinese</option>
                                                                <option value="sao tomean">Sao Tomean</option>
                                                                <option value="saudi">Saudi</option>
                                                                <option value="scottish">Scottish</option>
                                                                <option value="senegalese">Senegalese</option>
                                                                <option value="serbian">Serbian</option>
                                                                <option value="seychellois">Seychellois</option>
                                                                <option value="sierra leonean">Sierra Leonean</option>
                                                                <option value="singaporean">Singaporean</option>
                                                                <option value="slovakian">Slovakian</option>
                                                                <option value="slovenian">Slovenian</option>
                                                                <option value="solomon islander">Solomon Islander
                                                                </option>
                                                                <option value="somali">Somali</option>
                                                                <option value="south african">South African</option>
                                                                <option value="south korean">South Korean</option>
                                                                <option value="spanish">Spanish</option>
                                                                <option value="sri lankan">Sri Lankan</option>
                                                                <option value="sudanese">Sudanese</option>
                                                                <option value="surinamer">Surinamer</option>
                                                                <option value="swazi">Swazi</option>
                                                                <option value="swedish">Swedish</option>
                                                                <option value="swiss">Swiss</option>
                                                                <option value="syrian">Syrian</option>
                                                                <option value="taiwanese">Taiwanese</option>
                                                                <option value="tajik">Tajik</option>
                                                                <option value="tanzanian">Tanzanian</option>
                                                                <option value="thai">Thai</option>
                                                                <option value="togolese">Togolese</option>
                                                                <option value="tongan">Tongan</option>
                                                                <option value="trinidadian or tobagonian">Trinidadian or
                                                                    Tobagonian
                                                                </option>
                                                                <option value="tunisian">Tunisian</option>
                                                                <option value="turkish">Turkish</option>
                                                                <option value="tuvaluan">Tuvaluan</option>
                                                                <option value="ugandan">Ugandan</option>
                                                                <option value="ukrainian">Ukrainian</option>
                                                                <option value="uruguayan">Uruguayan</option>
                                                                <option value="uzbekistani">Uzbekistani</option>
                                                                <option value="venezuelan">Venezuelan</option>
                                                                <option value="vietnamese">Vietnamese</option>
                                                                <option value="welsh">Welsh</option>
                                                                <option value="yemenite">Yemenite</option>
                                                                <option value="zambian">Zambian</option>
                                                                <option value="zimbabwean">Zimbabwean</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5 mb-1">
                                                        <label class="form-label" for="user_DOB">Date of Birth</label>
                                                        <input type="text" id="Dob" value="{{form_errors.cleaned_data.user_DOB}}" name="user_DOB" class="form-control flatpickr-basic flatpickr-input" placeholder="YYYY-MM-DD" readonly="readonly">
                                                        <!-- {{register_form.user_DOB}} -->
                                                    </div>

                                                    </div>
                                                </form>

                                                <div class="d-flex justify-content-between mt-2">
                                                    <a href="{% url 'users:users/login' %}" class="btn btn-outline-danger btn-prev">
                                                        <i style="color: #EA5455;" data-feather="chevron-left" class="align-middle me-sm-25 me-0"></i>
                                                        <span style="color: #EA5455;" class="align-middle d-sm-inline-block d-none">Cancel</span>
                                                    </a>
                                                    <button class="btn btn-primary btn-next">
                                                        <span class="align-middle d-sm-inline-block d-none">Submit</span>
                                                        <i data-feather="chevron-right" class="align-middle ms-sm-25 ms-0"></i>
                                                    </button>
                                                </div>
                                            </form>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END: Content-->
{% else %}
<input type="hidden" id="error" value="Sorry, you are not authorized to view this page">
{% endif %}


{% endblock %}

{% block pageCJs %}

    <script src="{% static "js/users/bs-stepper.min.js" %}"></script>
    <script src="{% static "js/users/cleave.min.js" %}"></script>
    <script src="{% static "js/users/cleave-phone.sa.js" %}"></script>
    <script src="{% static "js/users/auth-register.js" %}"></script>

    <!-- END: Page JS-->

    <script>
        var basicPickr = $('.flatpickr-basic');
        //   var yearPickr  = $('.flatpickr-year');
        // Default
        if (basicPickr.length) {
            basicPickr.flatpickr();
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    }
    </script>

    <script>
            window.onload = function() {
            if ($('#error').length) {
            Swal.fire({
                title: 'Not Authorized',
                text: $('#error').val(),
                icon: 'error',
                confirmButtonText: 'Close'
                }).then((result) => {
                    window.location.replace("/");
                })
            }
        }
    </script>
</body>
<!-- END: Body-->

</html>

{% endblock %}
